/* ========== Variables Globales ========== */
:root {
    --white: #f8e2d8;
    --pink-main: #fc638d;
    --sweet-orange: #fc8563;
    --pink-hover: #da0000;
    --pink-light: #f8c2c4;
    --purple-main: #8d79ea;
    --yellow-main: #ffe978;
    --luma-green: #79eac5;
}

/* ========== Général ========== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    background-color: var(--pink-main);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========== Header ========== */

header {
    width: 100%;
    font-size: 1.2rem;
    padding-top: 5vh;
    padding-bottom: 35vh;
}

header .header-tagline {
    font-weight: 600;
    font-style: italic;
}

/* ========== Titres ========== */

h1 {
    font-family: 'Gulfs', sans-serif;
    display: inline-block;
    font-size: 5rem;
    margin-top: 5vh;
    margin-bottom: 15vh;
    font-stretch: expanded;
    transition: transform 0.7s ease;
    cursor: default;
    width: 80%;
}

h1:hover {
    transform: scale(1.05);
}

h1 strong {
    display: inline-block;
    transition: letter-spacing 0.7s ease, transform 0.7s ease, color 0.7s ease;
}

h1:hover strong {
    letter-spacing: 0.5rem;
    color: var(--green-highlight);
    transform: scale(1.2);
}

h2 {
    font-family: 'Gulfs', sans-serif;
    font-weight: normal;
    font-stretch: expanded;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 5vw;
    margin-top: 5vh;
    width: 70%;
}

/* ========== Bouton Vidéo ========== */

.presentation-play-trigger {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-play-trigger .upper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 50%;
    transform: translateY(-1.5%);
    z-index: 2;
    transition: transform 100ms ease-in-out, background-color 300ms ease-in-out;
}

.presentation-play-trigger:hover .upper {
    transform: translateY(1.5%);
}

.presentation-play-trigger:active .upper {
    background-color: var(--pink-hover);
    transform: translateY(3.5%);
}

.presentation-play-trigger .mid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cc0000;
    border-radius: 50%;
    z-index: 1;
    top: 3%;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.presentation-play-trigger .bottom {
    position: absolute;
    width: 107%;
    height: 107%;
    background-color: var(--pink-light);
    border-radius: 50%;
    z-index: 0;
    top: 2%;
    left: -3.5%;
}

.presentation-play-trigger .content {
    position: relative;
    font-size: 400%;
    color: var(--white);
    z-index: 3;
    transform: translateY(-1%);
    text-shadow: 1px -2px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25);
    transition: transform 70ms ease-in-out;
    user-select: none;
}

.presentation-play-trigger:hover .content {
    transform: translateY(4%);
}

.presentation-play-trigger:active .content {
    transform: translateY(6%);
}

/* ========== Vidéo ========== */

.video-wrapper {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-width: 900px;
    opacity: 0;
    z-index: 4;
    pointer-events: none;
    transition: 1s ease-out;
}

.video-wrapper.show {
    top: 22vh;
    opacity: 1;
    pointer-events: auto;
    transition: 1s ease-out;
}

.video-wrapper video {
    position: absolute;
    left:0;
    width: 100%;
    height: auto;
    border: solid 8px var(--sweet-orange);
    border-radius: 16px;
}

.video-wrapper button {
    position: absolute;
    cursor:pointer;
    opacity: 0;
    top:0;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 5px;
    background-color: #ff0000;
    border-radius: 100px;
    border:none;
    width: 40px;
    height: 40px;
    font-size: 140%;
    color:var(--white);
    transition: 1s ease-in-out;
}

.video-wrapper button:hover {
    transform: rotateZ(90deg);
}

.video-wrapper:hover button {
    opacity: 1;
    top:5vh;
}

/* ========== Indicateur de Défilement ========== */

.scroller img {
    margin-top: 16vh;
    height: auto;
    width: 4vw;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

.scroller:hover img {
    transform: translateY(10%);
}

/* ========== Accordéon ========== */

.accordion {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-item {
    border-bottom: 2px solid var(--white);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    padding: 10px 15px;
    background-color: transparent;
    transition: all 0.3s ease;
    position: relative;
}

.accordion-header:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: white;
    padding: 0 15px;
}

.accordion-content p {
    margin: 10px 0;
}

input[type="radio"]:checked+.accordion-header+.accordion-content {
    max-height: 100px;
}

input[type="radio"]:checked+.accordion-header {
    background-color: rgba(255, 255, 255, 0.2);
}


/* ========== Règles Générales de Sections ========== */

section {
    position: relative;
    padding-bottom: 50vh;
}

section div.content,
div.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: auto;
}

section p {
    font-size: 1.5rem;
    margin-bottom: 2vh;
}

section video {
    height: 400px;
}

section p strong {
    font-weight: bold;
    font-size: 110%;
}

section svg {
    position: absolute;
    bottom: 99.9%;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.arrow-left,
.arrow-right {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 99.9%;
    left: 0;
    z-index: 3;
}

.arrow-left {
    left: 8%;
    animation: wobble-ver-left 3s ease-in-out infinite;
}

.arrow-right {
    left: 85%;
    transform: scaleX(-1);
    animation: wobble-ver-right 3s ease-in-out infinite;
}

@keyframes wobble-ver-right {
    0% {
        transform: translateY(0) rotate(0) scaleX(-1);
    }

    9% {
        transform: translateY(-30px) rotate(-6deg) scaleX(-1);
    }

    18% {
        transform: translateY(15px) rotate(6deg) scaleX(-1);
    }

    28% {
        transform: translateY(-15px) rotate(-3.6deg) scaleX(-1);
    }

    37% {
        transform: translateY(9px) rotate(2.4deg) scaleX(-1);
    }

    50% {
        transform: translateY(-6px) rotate(-1.2deg) scaleX(-1);
    }

    50%,
    100% {
        transform: translateY(0) rotate(0) scaleX(-1);
    }
}

@keyframes wobble-ver-left {
    0% {
        transform: translateY(0) rotate(0);
    }

    9% {
        transform: translateY(-30px) rotate(6deg);
    }

    18% {
        transform: translateY(15px) rotate(-6deg);
    }

    28% {
        transform: translateY(-15px) rotate(3.6deg);
    }

    37% {
        transform: translateY(9px) rotate(-2.4deg);
    }

    50% {
        transform: translateY(-6px) rotate(1.2deg);
    }

    50%,
    100% {
        transform: translateY(0) rotate(0);
    }
}

/* ========== Section "Context" ========== */

section#context {
    background-color: var(--sweet-orange);
    padding-bottom: 0;
}

section div.content {
    margin-bottom: 10vh;
}

section#context div.content p:first-child {
    text-align: start;
}

section#context div.content p:last-child {
    text-align: end;
}

section#context video {
    margin-left: 2vw;
    margin-right: 4vw;
}

/* ========== Section "Consumption Habits" ========== */

section#consumption-habits {
    background-color: var(--purple-main);
}

section#consumption-habits .arrow-right {
    bottom: 125%;
}

section#consumption-habits .info {
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
}

section#consumption-habits .info video {
    width: auto;
}

/* ========== Section "Standby Impact" ========== */

section#standby-impact {
    background-color: var(--pink-main);
}

section#standby-impact div.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    width: 75%;
    margin: auto;
}

section#standby-impact div.description {
    width: 400px;
    text-align: start;
}

section#standby-impact .rich-content {
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
}

section#standby-impact .rich-content .img-bg {
    position: absolute;
    background-color: #0000005e;
    border-radius: 100%;
    height: 300px;
    width: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#standby-impact .rich-content .img-bg:first-child {
    top: -33%;
    left: -33%;
}

section#standby-impact .rich-content .img-bg:last-child {
    bottom: -33%;
    right: -33%;
}

section#standby-impact .rich-content .img-bg img {
    margin: auto;
    width: 80%;
    height: auto;
}

/* ========== Section "Quality Choices" ========== */

section#quality-choices {
    background-color: var(--yellow-main);
    color: var(--sweet-orange);
}

section#quality-choices .arrow-right {
    bottom: 117%;
}

section#quality-choices div.content {
    width: 80vw;
    gap: 5vw;
}

section#quality-choices img {
    height: 200px;
    width: auto;
}

section#quality-choices img:last-child {
    height: 150px;
}

section#quality-choices div.text {
    width: 80vw;
    gap: 10vw;
}

section#quality-choices p:first-child {
    text-align: start;
}

section#quality-choices p:last-child {
    text-align: end;
}

/* ========== Section "Tech Purchase" ========== */

section#tech-purchase {
    background-color: var(--sweet-orange);
    color: var(--white);
}

section#tech-purchase p {
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
    width: 50vw;
}

section#tech-purchase>img {
    margin-bottom: 5vh;
}

section#tech-purchase p img {
    position: absolute;
    transform: scaleX(-100%) translateY(10%);
    height: 100px;
    width: auto;
}

/* ========== Section "Historical Consumption" ========== */

section#historical-consumption {
    color: var(--sweet-orange);
    background-color: var(--white);
}

section#historical-consumption p {
    text-align: start;
}

h2.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--pink-main)
}

/* ========== Section "Green Innovation" ========== */

section#green-innovation {
    background-color: var(--purple-main);
}

/* ========== Section "Challenge Yourself" ========== */

section#challenge-yourself {
    background-color: var(--pink-main);
}

/* ========== Footer ========== */

footer {
    padding: 2vw;
}