/* ========== Général ========== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #ea799e;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ========== Header ========== */

header {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 1.2rem;
}

header .header-title {
    font-weight: 600;
    font-style: italic;
}

header .header-title strong {
    font-weight: 800;
}

header .header-title:hover strong {
    text-decoration: underline;
}

/* ========== Titres ========== */

h1 {
    font-family: 'Gulfs', sans-serif;
    display: inline-block;
    font-size: 5rem;
    margin-top: 5vh;
    margin-bottom: 15vh;
    font-stretch: expanded;
    transition: transform 0.7s ease;
    cursor: default;
    width: 80%;
}

h1:hover {
    transform: scale(1.05);
}

h1 strong {
    display: inline-block;
    transition: letter-spacing 0.7s ease, transform 0.7s ease, color 0.7s ease;
}

h1:hover strong {
    letter-spacing: 0.5rem;
    color: #79eac5;
    transform: scale(1.2);
}

h2 {
    font-family: 'Gulfs', sans-serif;
    font-weight: normal;
    font-stretch: expanded;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 5vw;
    margin-top: 5vh;
    width: 70%;
}

/* ========== Section Introductive ========== */

section#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========== Bouton vidéo ========== */

.video-button {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-button .upper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 50%;
    transform: translateY(-1.5%);
    z-index: 2;
    transition: transform 100ms ease-in-out, background-color 300ms ease-in-out;
}

.video-button:hover .upper {
    transform: translateY(1.5%);
}

.video-button:active .upper {
    background-color: #da0000;
    transform: translateY(3.5%);
}

.video-button .mid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cc0000;
    border-radius: 50%;
    z-index: 1;
    top: 3%;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.video-button:active .mid {
    opacity: 0;
    transition: opacity 10ms ease-in-out;
}

.video-button .bottom {
    position: absolute;
    width: 107%;
    height: 107%;
    background-color: #f8c2c4;
    border-radius: 50%;
    z-index: 0;
    top: 2%;
    left: -3.5%;
}

.video-button .content {
    position: relative;
    font-size: 400%;
    color: #ffffff;
    z-index: 3;
    transform: translateY(-1%);
    text-shadow: 1px -2px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25);
    transition: transform 70ms ease-in-out;
    user-select: none;
}

.video-button:hover .content {
    transform: translateY(2%);
}

.video-button:active .content {
    color: #cccccc;
    transform: translateY(4%);
}

/* ========== Indicateur de défilement ========== */

.scroll-indicator {
    margin-top: 16vh;
    height: auto;
    width: 4vw;
    transition: transform 500ms ease-in-out;
}

.scroll-indicator:hover {
    transform: translateY(10%);
}

/* ========== Sections générales ========== */

section div.content p strong {
    font-weight: bold;
    font-size: 110%;
}

section.with-wave {
    position: relative;
    padding-bottom: 50vh;
}

section.with-wave svg.wave {
    position: absolute;
    bottom: 99.9%;
    left: 0;
    width: 100%;
    height: auto;
}

section.with-wave .arrow {
    position: absolute;
    width: 100px;
    height: auto;
    bottom: 99.9%;
    left: 0;
    z-index: 3;
}

section.with-wave .left-arrow {
    left: 8%;
    animation: wobble-ver-left 3s ease-in-out infinite;
}

section.with-wave .right-arrow {
    left: 85%;
    transform: scaleX(-1);
    animation: wobble-ver-right 3s ease-in-out infinite;
}

@keyframes wobble-ver-right {
    0% {
        transform: translateY(0) rotate(0) scaleX(-1);
    }
    9% {
        transform: translateY(-30px) rotate(-6deg) scaleX(-1); 
    }
    18% {
        transform: translateY(15px) rotate(6deg) scaleX(-1); 
    }
    28% {
        transform: translateY(-15px) rotate(-3.6deg) scaleX(-1); 
    }
    37% {
        transform: translateY(9px) rotate(2.4deg) scaleX(-1); 
    }
    50% {
        transform: translateY(-6px) rotate(-1.2deg) scaleX(-1); 
    }
    50%, 100% {
        transform: translateY(0) rotate(0) scaleX(-1);
    }
}


@keyframes wobble-ver-left {
    0% {
        transform: translateY(0) rotate(0);
    }
    9% {
        transform: translateY(-30px) rotate(6deg);
    }
    18% {
        transform: translateY(15px) rotate(-6deg);
    }
    28% {
        transform: translateY(-15px) rotate(3.6deg);
    }
    37% {
        transform: translateY(9px) rotate(-2.4deg);
    }
    50% {
        transform: translateY(-6px) rotate(1.2deg);
    }
    50%,
    100% {
        transform: translateY(0) rotate(0);
    }
}


/* ========== Section Contexte ========== */

section#contexte {
    background-color: #d6ea79;
    margin-top: 50vh;
}

section#contexte div.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: auto;
    font-size: 1.5rem;
}

section#contexte video {
    height: 400px;
}

section#contexte div.content p {
    color: black;
}

section#contexte div.content p:first-child {
    text-align: start;
}

section#contexte div.content p:last-child {
    text-align: end;
}

/* ========== Section La part entre les appareils ========== */

section#part-entre-appareils {
    background-color: #e5e5e5;
}

section#part-entre-appareils * {
    z-index: 2;
}

section#part-entre-appareils img.pattern {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

section#part-entre-appareils div.content {
    position: relative;
    display: flex;
    margin: auto;
    width: 70%;
}

section#part-entre-appareils div.content video {
    width: auto;
    height: 400px;
}

section#part-entre-appareils div.content #chart-pie {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 500px;
}

section#part-entre-appareils div.content #chart-pie::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centre horizontalement et verticalement */
    background-color: #e5e5e5;
    border-radius: 50%;
    /* Fait du `::before` un cercle parfait */
}

/* ========== Section Mise en veille ========== */

section#mise-en-veille {
    background-color: #ea799e;
}

section#mise-en-veille div.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5vw;
    width: 75%;
    margin:auto;
}

section#mise-en-veille video {
    height: 400px;
}

section#mise-en-veille div.text {
    width: 400px;
    text-align: start;
}

section#mise-en-veille div.text p {
    margin-bottom: 3vh;
}


/* ========== Section Consommation selon les Choix de qualité ========== */

section#consommation-choix-qualite {
    background-color: #8d79ea;
}

section#consommation-choix-qualite video {
    height: 400px;
}